* {
  margin: 0;
  padding: 0;
}

.main-menu {
  background-color: green;
  height: 40px;
}

.main-content {
  display: flex;
  flex-direction: row;

  .main-options {
    background-color: aqua;
    width: 25%;
  }

  .main-blogs{
    background-color: bisque;
    width: 50%;

    img {
      width: 50%;
    }
  }

  .main-aside-options{
    background-color: cadetblue;
    width: 25%;
  }
}